<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :fb_id %><br>
    <%= f.text_field :fb_id %>
  </div>
  <div class="field">
    <%= f.label :api_authtoken %><br>
    <%= f.text_field :api_authtoken %>
  </div>
  <div class="field">
    <%= f.label :authtoken_expiry %><br>
    <%= f.datetime_select :authtoken_expiry %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :custID %><br>
    <%= f.text_field :custID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
